src/main/xsd/map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MAP" type="MAPType"/>
  <xs:complexType name="POINTType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:short" name="X" use="optional"/>
        <xs:attribute type="xs:short" name="Y" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OBSTACLEType">
    <xs:sequence>
      <xs:element type="POINTType" name="POINT" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="NAME" use="optional"/>
    <xs:attribute type="xs:string" name="OPAQUE" use="optional"/>
  </xs:complexType>
  <xs:complexType name="MAPType">
    <xs:sequence>
      <xs:element type="OBSTACLEType" name="OBSTACLE" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>